body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  color: white;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.creative {
  color: indianred;
}

.logo {
  width: 150px;
  height: 150px;
}

footer {
  text-align: right;
  color: indianred;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
  border-radius: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

@media (max-width: 680px) {
  .logo {
    height: 30%;
    width: 30%;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 12px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
